@page "/imageoverlaylayer"
@inject IJSRuntime jsRuntime

<div style="height: 800px; width: 1000px;">
    <LeafletBlazorMap @ref="_map" Options="_options" />
</div>

@code
{

    private LeafletBlazorMap _map;
    private MapOptions _options = new MapOptions { Center = new LatLng(8, 8), Zoom = 2 };

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _map.OnInit += () =>
            {
                _map.AddLayer(new TileLayer(new TileLayerOptions
                {
                    UrlTemplate = "https://a.tile.openstreetmap.org/{z}/{x}/{y}.png",
                    Attribution = "&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors",
                }));
                _map.AddLayer(new ImageOverlayLayer(new ImageOverlayOptions
                {
                    Url = "http://www.lib.utexas.edu/maps/historical/newark_nj_1922.jpg",
                    Bounds = new LatLngBounds(new LatLng { Lat = 40.712216, Lng = -74.22655 }, new LatLng { Lat = 40.773941, Lng = -74.12544 })
                }));
            };
        }
    }
}