@page "/videooverlaylayer"
@inject IJSRuntime jsRuntime

<div style="height: 800px; width: 1000px;">
    <LeafletBlazorMap @ref="_map" Options="_options" />
</div>

@code
{

    private LeafletBlazorMap _map;
    private MapOptions _options = new MapOptions { Center = new LatLng(8, 8), Zoom = 2 };

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _map.OnInit += () =>
            {
                _map.AddLayer(new TileLayer(new TileLayerOptions
                {
                    UrlTemplate = "https://a.tile.openstreetmap.org/{z}/{x}/{y}.png",
                    Attribution = "&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors",
                }));
                _map.AddLayer(new VideoOverlayLayer(new VideoOverlayOptions
                {
                    Url = "https://www.mapbox.com/bites/00188/patricia_nasa.webm",
                    Bounds = new LatLngBounds(new LatLng { Lat = 32, Lng = -130 }, new LatLng { Lat = 13, Lng = -100 })
                }));
            };
        }
    }
}